<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<font align="right"> Story Test </font>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<br />
<br />
<table align="center" border="1" width="120">
        <tr align="center">
        <td>StoryID</td>
        <td>StoryName</td>
        </tr>
</table>

<form action="../service/ServiceForStory.php" method="post">
please input story for add: <br /> 
Story Name : <input type="text" value="" name="story_name" /><br />
Story Url : <input type="text" value="" name="story_url" />
<br />
<br />
please input story for delete: <br />
Story ID : <input type="text" value="" name="story_id" /><br />
<input type="submit" value="Submit" />
</form>
</body>
</html>