<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<font align="right"> Song Test </font>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<br />
<br />
<table align="center" border="1" width="120">
        <tr align="center">
        <td>SongID</td>
        <td>SongName</td>
        </tr>
</table>

<form action="../service/ServiceForSong.php" method="post">
please input song for add: <br /> 
Song Name : <input type="text" value="" name="song_name" /><br />
Song Url : <input type="text" value="" name="song_url" />
<br />
<br />
please input song for delete: <br />
Song ID : <input type="text" value="" name="song_id" /><br />
<input type="submit" value="Submit" />
</form>
</body>
</html>